@{
    ViewData["Title"] = "Create Appointment";
}

<h2 class="mb-4">Create Appointment</h2>

<form method="post" class="card p-4 shadow-sm">
    <div class="mb-3">
        <label>Patient</label>
        <select class="form-select" name="patientId" required>
            @foreach (var p in ViewBag.Patients)
            {
                <option value="@p.PatientId">@p.UserAccount.Email</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label>Clinician</label>
        <select class="form-select" name="clinicianId" required>
            @foreach (var c in ViewBag.Clinicians)
            {
                <option value="@c.ClinicianId">@c.UserAccount.Email</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label>Start Time</label>
        <input class="form-control" type="datetime-local" name="start" required />
    </div>

    <div class="mb-3">
        <label>End Time</label>
        <input class="form-control" type="datetime-local" name="end" required />
    </div>

    <button class="btn btn-primary w-100">Create Appointment</button>
</form>
